.header__root {
  background-color: $background-header-or-footer;
}

.header__logo {
  background-color: $color-base;
  border-radius: 50%;
  font-size: 28px;
  color: black;
}

.header__title {
  color: $color-base;
  margin-bottom: 0;
}

.header__navlink {
  color: $color-base;

  &:hover {
    color: $hover-color-nav-link;
  }
}

.header__settings {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.header__button {
  width: 100%;
  padding: 8px 0 8px 0;

  color: $color-base;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $hover-color-nav-link;
  }

  &:active {
    color: $hover-color-nav-link;
  }

  @media (min-width: 992px) {
    min-width: 100px;
    width: auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $background-button-toogle-lang-or-theme;
    text-align: center;

    &:hover {
      background-color: $hover-background-btn-lang;
    }

    &:active {
      background-color: $hover-background-btn-lang;
    }
  }
}

.header__auth {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media (min-width: 992px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.header__sign {
  min-width: 200px;
}

.header__profile,
.header__profile-iconlink,
.header__profile-textlink {
  color: $color-user-icon;

  &:hover {
    color: $hover-color-user-logo;
  }
}

.header__profile {
  width: 100%;

  @media (min-width) {
    width: auto;
  }
}

.header__profile-iconlink {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

.header__profile-textlink {
  display: block;

  @media (min-width: 992px) {
    display: none;
  }
}

.header__welcome {
  color: $color-base;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}
