.home__check {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 12px 20px 12px;
  @media (max-width: 1150px) {
    justify-content: space-between;
  }
  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.sloth-check {
  width: 360px;
  height: 280px;
  @include background-image;
  background-image: url('../../assets/image/png/sloth-check.png');
  @media (max-width: 1150px) {
    width: 260px;
    height: 200px;
  }
}

.check-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  @media (max-width: 1150px) {
    gap: 20px;
  }
}
