@import './welcome-section.scss';
@import './traine-section.scss';
@import './lern-section.scss';
@import './check-section.scss';

.home__container {
  display: flex;
  flex-direction: column;
  font-size: 51px;
  font-weight: 400;
  line-height: 62px;
}

.home-text {
  color: $color-title-home-page;
  font-weight: 400;
  font-size: 32px;
  line-height: 50.17px;
  font-family: 'Montserrat-reg';
}

.home-title {
  font-size: 38px;
  line-height: 42px;
  font-weight: 600;
  color: $color-title-home-page;
  text-align: center;
  font-family: 'Montserrat-bold';
}
