.home__lern {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 112px 0;
}

.lern-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 950px;
  width: 100%;
  text-align: center;
}

.sloth-lern {
  width: 680px;
  height: 360px;
  @include background-image;
  background-image: url('../../assets/png/sloth-online.png');
}
