.home__lern {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 12px;
}

.lern-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.sloth-lern {
  width: 440px;
  height: 230px;
  @include background-image;
  background-image: url('../../assets/image/png/sloth-online.png');
}
