.home__traine {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 12px;
}

.sloth-traine {
  width: 350px;
  height: 350px;
  @include background-image;
  background-image: url('../../assets/image/png/sloth-traine.png');
}

.traine-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}
