.confirmation-modal {
  color: black;
}

.confirmation-modal__preloader {
  background-color: rgba(0, 0, 0, 0.8);
}

.confirmation-modal__circle {
  border: 20px solid black;
  border-top: 20px solid white;
}
