$color-base: #bcbec1;
$color-git-art: brown;
$color-git-alex: darkgoldenrod;
$color-git-menther: darkgreen;
$color-content-btn-toggle-lang-or-theme: #ffffff;
$color-button-section-start: #ffffff;
$color-title-home-page: #ffffff;
$color-user-icon: #bcbec1;
$color-border-modal-roadmap: #ee1110;
$color-link-modal-roadmap: #ffdb1f;

$hover-color-nav-link: antiquewhite;
$color-hover-git-art: #dd2929;
$color-hover-git-alex: #f1ba34;
$color-hover-git-menther: #15b115;
$color-hover-rs-logo: #e4e7ec;
$hover-color-user-logo: aqua;
$hover-link-modal-roadmap: #b09c38;
$hover-background-btn-base: #111e29;
$hover-background-btn-lang: #323e46;
$hover-button-modal-roadmap: #b09c38;

$background-header-or-footer: #1f2023;
$background-button-toogle-lang-or-theme: #2c3439;
$background-button-autorization: #1b2b37;
$background-color-modal-roadmap: #546085;
$background-color-modal-wrap: #030303;
$background-button-modal-roadmap: #ffdb1f;
$background-main: #2c3439;

$chat-window-scroll-thumb: #1b2b37;
