$color-base: #bcbec1;
$color-git-art: brown;
$color-git-alex: darkgoldenrod;
$color-git-menther: darkgreen;
$color-content-btn-toggle-lang-or-theme: #ffffff;

$color-hover-git-art: #dd2929;
$color-hover-git-alex: #f1ba34;
$color-hover-git-menther: #15b115;
$color-hover-rs-logo: #e4e7ec;

$background-header-or-footer: #1f2023;
$background-button-toogle-lang-or-theme: #2c3439;
$background-button-autorization: #1b2b37;
