@import './header.scss';
@import './main.scss';
@import './footer.scss';

.container {
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}
