@import './modal.scss';

.modal-open {
  overflow: hidden;
  padding-right: 20px;
}

.front-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  min-height: 2000px;
  height: 100%;
  padding: 20px;
  gap: 10px;
  margin: 0 auto;
  position: relative;

  &__title {
    color: $color-base;
  }

  &__canvas-wrap {
    max-width: 1200px;
    width: 100%;
    height: 100%;
  }
}
