.chat {
  height: 100%;
}

.chat__open {
  height: 50px;
  width: 50px;
  bottom: 100px;
  right: 3rem;
  z-index: 50;
}

.chat__window {
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat__message {
  overflow-wrap: break-word;
}
