$dark: #2c3439;
$secondary: #293d57;
$primary: #1b2b37;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.side-bar-arrow {
  border-radius: 0 0 10px 0 !important;
}

.progress-bar-collor {
  background: #14ff00;
}
