$dark: #2c3439;
$secondary: #293d57;
$primary: #1b2b37;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './style/variables';
@import './style/mixins';
@import './style/font';
@import './style/layout/layout.scss';
@import './style/home/home-page.scss';
@import './application/ui/preloader/preloader.scss';
@import './application/modules/auth/style/auth.scss';
@import './application/pages/lessons/modules/lessonsModal/lessonsModal.scss';
@import './application/pages/lessons/modules/sloth/sloth.scss';
@import './application/modules/chat/style/chat.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.side-bar-arrow {
  border-radius: 0 0 10px 0 !important;
}

.progress-bar-collor {
  background: #14ff00;
}

.my-modal {
  display: none;
}

.my-modal.show-modal {
  display: block;
  opacity: 0.6;
}

.sloth__text {
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  bottom: 20%;
}

.sloth__text.show-text {
  transition: all 2s;
  opacity: 1;
}

.sloth__img {
  transition: all 0.5s;
  left: -100%;
}

.sloth__img.show-img {
  opacity: 1;
  transition: all 0.5s;
  bottom: 0;
  left: 75%;
  transform: translateX(-50%);
}

.btn-drag {
  cursor: move;
}

.drag-hidden {
  display: none;
}

.drag-show {
  display: block;
}

.active-border {
  border: 2px solid black;
  border-radius: 5px;
}
